# Configuración de la aplicación
PORT=3000
NODE_ENV=development
APP_NAME=node-cloudwatch-app
LOG_LEVEL=info

# Habilitar CloudWatch incluso en desarrollo (solo para pruebas)
ENABLE_CLOUDWATCH=false

# Configuración de AWS
AWS_REGION=us-east-1
# Grupo de logs personalizado
CLOUDWATCH_GROUP_NAME=/node-cloudwatch-app/logs

# Estas credenciales deben configurarse en producción mediante roles de IAM
# para el contenedor ECS, no como variables de entorno
# AWS_ACCESS_KEY_ID=
# AWS_SECRET_ACCESS_KEY= 